.bubble {
	display: flex;
	align-items: center;
	min-height: 38px;
}

.bubble.right {
	align-self: flex-end;
}

.bubble .text {
	display: inline-block;
	padding: 6px 10px;
	background-color: #999;
	font-size: 16px;
	border-radius: 12px;
	margin: 6px;
	color: #fff;
}

.bubble.right .text {
	background-color: rgb(33,150,243);
}

.bubble .circle {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 36px;
	height: 36px;
	border-radius: 18px;
	background-color: rgb(255,64,129);
	color: #fff;
}